.errorControl {
    text-align: right;
    margin-top: -1%;
    font-size: 14px;
    color: #f00;
  }
  @media screen  and (max-width:1024px){
    .errorControl{
      margin-top: -2%;
    }
  }
.form label {
    display: block;
    margin-bottom: 0.2rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #777777;
  }
  
  .form select {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
  
    border: 1px solid #e5e9f1;
    border-radius: 4px;
    background: #ffffff;
    font-size: 1.25rem;
    font-family: "Montserrat";
    color: #777777;
  }

  .form select:focus {
    outline-color: #7b2aff;
    background-color: #fff;
  }
  
  .input-error {
    border: 1px solid #f00 !important;
    outline: none;
  }
  